.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin: 0 auto;
}

.project {
    width: 250px;
    height: 160px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    position: relative;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.project img {
    max-width: 130px;
}

.coming-soon .label {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #04D9FF;
    color: black;
    font-family: NeueHaasDisplay;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;
}

.shimmer {
    background: linear-gradient(100deg, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80%);
    background-size: 200% 100%;
    animation: shimmer 6s infinite linear;
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }
    100% {
        background-position: 200% 0;
    }
}
