.unique-carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.unique-carousel {
    display: flex;
    animation: unique-scroll 40s linear infinite;
    transition: animation-play-state 0.5s;
}

:root {
    --slate-800: #1e1e1e; /* Dark Slate Color */
    --slate-900: #121212; /* Even Darker Slate Color */
}
.unique-testimonial {
    flex: 0 0 25.57%;
    margin: 0 10px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.unique-testimonial p {
    margin-top: 10px;
}

.testimonial-author {
    font-size: 0.8rem;
    color: #888;
    margin-top: 20px;
}

.testimonial-author span {
    display: block;
    font-size: 0.7rem;
    color: #aaa;
}

@keyframes unique-scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.unique-carousel-container::before,
.unique-carousel-container::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100px;
    background: linear-gradient(to right, #121212, transparent);
    z-index: 2;
}

.unique-carousel-container::after {
    right: 0;
    background: linear-gradient(to left, #121212, transparent);
}

.unique-carousel-container:hover .unique-carousel {
    animation-play-state: paused;
}