<ion-header>
  <ion-toolbar>
    <ion-title>Thank You</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="thank-you-container">
    <img src="assets/images/thankyou.png" alt="Thank You Image" class="thank-you-image">
    <p>Your submission was successful.</p>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Your Token Number</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="token-number">
          <ion-title>{{ Code() }}</ion-title>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <div class="ion-text-end ion-padding">
    <ion-button color="success" (click)="newOrder()">New Order</ion-button> 
  </div>
</ion-content>