.thank-you-container {
  text-align: center;
  padding: 20px;
}

.thank-you-image {
  width: 20%;
  height: auto;
  margin-bottom: 20px;
}

ion-card {
  margin: 20px auto;
  max-width: 400px;
}

.token-number {
  font-size: 18px;
  font-weight: bold;
  color: #4CAF50;
}