:host {
  --ion-background-color: #F4BD7E;

  --ion-text-color: #781D09;
  --ion-toolbar-background: #340B02;
}

ion-header {
  --background: #FFF;
  --color: #333;
}

ion-toolbar {
  --background: #340B02;
  color: #fff;
}

ion-title {
  margin-left: 10vh;
  font-size: 22px;
  font-weight: bold;
}

ion-content {
  background: #e5e5e5;
  display: flex;
  flex-direction: column;
}

.cart-content {
  padding: 16px;
  margin: 0 auto; 
  max-width: 600px; 
  flex: 1; 
}

.subtotal {
  position: fixed; 
  bottom: 0;
  left: 0;
  padding: 16px;
  background-color: #781D09;

  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  display: flex;
  flex-direction: column; 
  align-items: flex-end;
  width: 100%; 
  max-width: none; 
}

.subtotal-content {
  display: flex;
  flex-direction: column; 
  align-items: flex-end; 
  width: 100%; 
}

.total-amount {
  margin-bottom: 8px;
  font-size: 18px;

  color: white;
  font-weight: bold;
}

ion-item {
  --background: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(240, 240, 240, 0.8));
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;

  --padding-start: 0; 
  --padding-end: 0;
  --padding-top: 8px; 
  --padding-bottom: 8px;
  --border-radius: 8px;
}

.cart-thumbnail {
  --border-radius: 8px;
  margin-right: 16px;
}

ion-label h3 {
  font-size: 18px;
  font-weight: bold;
}

ion-label p {
  margin: 4px 0;
}

ion-button {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-weight: bold;
}

.back-shopping-btn {

  margin-right: 10vh;
  
  background-color: #C54C31;
  color: #fff;
}

.checkout-btn {
  background-color: #C54C31; 
  color: #fffdfd;
  max-width: 150px; 
}

ion-button[color="medium"] {
  background-color: #FF9800;
  color: #fff;
}

ion-button[color="danger"] {
  color: #FF6F6F;
}

#myBTN{
  background-color: #C54C31;
}

.myIMG{
  margin-left: 20px;
}
.myTXT{
  margin-left: 20px;
  color: #340B02;
}

#background-content{
  background-color: green;
}