.cart-title {
    text-align: center;
    font-size: 24px;
    margin-top: 16px;
  }
  
  ion-item {
    --background: #f9f9f9;
    margin-bottom: 10px;
    border-radius: 12px;
  }
  
  ion-label h3 {
    font-weight: bold;
  }
  
  .subtotal {
    margin-top: 20px;
  }
  
  .text-end {
    text-align: right;
  }