<ion-header>
  <ion-toolbar>
    <ion-title>Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Segment for category selection -->
  <ion-segment [(ngModel)]="selectedCategory" (ngModelChange)="filterDishes($event)" color="primary">
    <ion-segment-button value="all">
      <ion-label>All</ion-label>
    </ion-segment-button>
    <ion-segment-button value="pizza">
      <ion-icon name="pizza-outline"></ion-icon>
      <ion-label>Pizza</ion-label>
    </ion-segment-button>
    <ion-segment-button value="shakes">
      <ion-icon name="ice-cream-outline"></ion-icon>
      <ion-label>Shakes</ion-label>
    </ion-segment-button>
    <ion-segment-button value="drinks">
      <ion-icon name="wine-outline"></ion-icon>
      <ion-label>Drinks</ion-label>
    </ion-segment-button>
    <ion-segment-button value="fruits">
      <ion-icon name="nutrition-outline"></ion-icon>
      <ion-label>Fruits</ion-label>
    </ion-segment-button>
    <ion-segment-button value="bread">
      <ion-icon name="restaurant-outline"></ion-icon>
      <ion-label>Bread/Roti</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- Grid for displaying dishes -->
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="4" size-lg="3" *ngFor="let dish of filteredDishes">
        <ion-card>
          <img [src]="dish.image" class="dish-image" />
          <ion-card-content>
            <ion-card-title>{{ dish.name }}</ion-card-title>
            <p class="dish-category">{{ dish.category | titlecase }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>