:host {
  --ion-background-color: #f4f4f4;
  --ion-text-color: #333;
  --ion-toolbar-background: #007bff;
  --ion-toolbar-color: #fff;
}

ion-label {
  color: black;
}

ion-header {
  --background: var(--ion-toolbar-background);
}

ion-title {
  color: var(--ion-toolbar-color);
  font-weight: bold;
}

ion-segment {
  --background: #fff;
  --color: #333;
  padding: 10px 0;
}

ion-segment-button {
  --color: #000;
  --color-checked: #000;
}

ion-segment-button ion-icon {
  color: #000;
}

.category-segment ion-segment-button {
  --color: #000;
  text-transform: uppercase;
  font-weight: 600;
}

.category-segment ion-segment-button ion-icon {
  color: #000;
}

ion-card.dish-card {
  margin: 10px;
  border-radius: 12px;
  --background: #fff;
  --box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

ion-card.dish-card:hover {
  transform: scale(1.05);
}

ion-card img.dish-image {
  width: 100%;
  height: 150px;
  border-radius: 12px 12px 0 0;
  object-fit: cover;
}

ion-card-title {
  font-size: 20px;
  padding-left: 10px;
  color: #007bff;
  font-weight: bold;
  margin: 8px 0;
}

.dish-rate {
  color: #777;
  font-size: 18px;
  text-align: left;
  margin-top: -5px;
  margin-left: 5px;
}

@media (max-width: 768px) {
  ion-col {
    width: 50%;
  }
}

@media (min-width: 769px) {
  ion-col {
    width: 33.33%;
  }
}